<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<meta charset="UTF-8" />
<title>FirstBase</title>
</head>
<body>
	<h1>Employee List</h1>

	<table class="table">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Title</th>
		</tr>
		<tr th:each="book : ${books}">
			<td th:text="${book.name}"></td>
			<td th:text="${book.email}"></td>
			<td th:text="${book.title}"></td>
		</tr>
	</table>


	<h1>Add Employee Title</h1>
	<form action="#" th:action="@{/newemployee}" th:object="${fbEmployee}"
		method="post">
		<label>Title</label>
        <input type="text" th:field="*{title}" /><br/>
        <button type="submit">Register</button>
	</form>

</body>
</html>